
2020.05.03_STC-CALCULATOR-PAULO/Listings/STARTUP.lst
2020.05.03_STC-CALCULATOR-PAULO/Objects/paulobeta.obj
2020.05.03_STC-CALCULATOR-PAULO/Objects/PauloCalculator.build_log.htm
2020.05.03_STC-CALCULATOR-PAULO/Objects/STARTUP.obj
2020.05.03_STC-CALCULATOR-PAULO/Objects/PauloCalculator.build_log.htm
2020.05.03_STC-CALCULATOR-PAULO/Objects/PauloCalculator.build_log.htm
2020.05.03_STC-CALCULATOR-PAULO/Listings/paulobeta.lst
2020.05.03_STC-CALCULATOR-PAULO/Listings/PauloCalculator.lst
2020.05.03_STC-CALCULATOR-PAULO/PauloCalculator.uvgui.Admin68
2020.05.03_STC-CALCULATOR-PAULO/Objects/STARTUP.obj
